
*{
    margin:0;
}

body{
    font-family:  "Poppins", serif;
    text-align: center;
    height:100%; width: 100%;
}

header{
    background-color: #000000d3;
    padding: 1em 2em;
    position:fixed;
    width: 100%;
    display:flex;
}
#logo{
    background: url("./svg/cactus-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    float:left;
    margin-right: 1.85em;
    width: 125px;
    height:105px;
}

section{
    height: 100%;
    background-color:#fff;
}