
*{
    margin:0;
}

body{
    font-family:  "Poppins", serif;
    text-align: center;
    height:100%; width: 100%;
}

header{
    background-color: #000000d3;
    padding: 1em 2em;
    position:fixed;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
#logo{
    background: url("./svg/cactus-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    float:left;
    margin-right: 1.85em;
    width: 125px;
    height:105px;
}

section{
    height: 100%;
    background-color:#fff;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
ul{
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    border-right: 1px solid#fff;
    padding: 0.5em 1em;
}

ul li:nth-last-of-type(1){
    border-right: none;
}

.option{
    text-decoration: none;
    color:#fff;
}

.option:hover{

}